body {
  /* background-color: #ffecec !important; */
  background-image: url("bg.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.logo {
  border-radius: 50%;
}

.ai-message .message-content {
  background-color: #d1f3e1 !important;
  border-radius: 15px;
  padding: 15px;
}

.bg-accent {
  background-color: #fcd1ce !important;
  border-radius: 15px;
  padding: 15px;
}

/* #fdf5f5  */
/* #639090
#86c1ae
#d1f3e1 */
